**.json
**/__pycache__
**.err
**.out
**.log
**/.ipynb_checkpoints
**.dag*
**.pdf
Code/IndividualInference/*.txt
Data/IndividualInferenceOutput/**/*.pickle*
Data/IndividualInferenceOutput/**/*.png
Data/IndividualInferenceOutput/**/*.txt
Code/IndividualInference/condor/.distance_marginalization_lookup.npz
