**.json
**.json.old
**/__pycache__
**.err
**.out
**.log
**/.ipynb_checkpoints
**.dag*
**.pdf
**/old
**/old_highmass
**/debugging
**/.distance_marginalization_lookup.npz
Code/IndividualInference/*.txt
Code/PopulationInference/condor/
Data/IndividualInferenceOutput/**/*.pickle*
Data/IndividualInferenceOutput/**/*.png
Data/IndividualInferenceOutput/**/*.txt
Data/InjectedPopulationParameters/will-farr-selection-effects-comparison.h5
Code/IndividualInference/condor/.distance_marginalization_lookup.npz
Data/PopulationInferenceOutput/.tmp/
Data/PopulationInferenceOutput/inspect_betaPlusDoubleGaussian+.ipynb
Code/IndividualInference/makeDagfiles_relaunches_manual.py
Code/PopulationInference/debugging/
Data/PopulationInferenceOutput/inspect_betaPlusDoubleGaussianJustSpin.ipynb
Data/PopulationInferenceOutput/inspect_betaPlusDoubleGaussian_withSNRCut.ipynb
Data/InjectedPopulationParameters/fix_pm1.ipynb
Data/PopulationInferenceInput/view_injectionDict_and_sampleDicts.ipynb
XP_tests
